body {
    background-color: rgb(49, 49, 78);
    color: white;
}

input.mb-2.border-blue-500 {
    border: 1px solid black;
}

ul.b {
    list-style-type: square;
}

.todo-body {
    height: 100vh;
}